body {
    margin: 0;
    padding: 20px;
}

.navbar {
	margin-top: 20px;
    background-color: rgb(128, 128, 255);
    height: 60px; /* Green background color */
}

.navbar-header {
    font-size: 1.25rem; /* Adjust font size as needed */
}



.btn-outline-light {
    color: #28a745; /* Green color for the button text */
    border-color: #28a745; /* Green color for the button border */
}

.btn-outline-light:hover {
    background-color: #28a745; 
    color: white; 
}

.nav-hd{
	max-width: 30%;
	float: left;
	padding-top: 5px;
}
.nav-el{
	float: right;
	max-width: 30%;
	padding: 10px 30px;
}

#logout-btn{
	background: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 13px;
    text-shadow: none;
    padding: 10px 30px;
}

#logout-btn:hover{
	 background: rgb(128, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
    text-shadow: none;
}

.btn-new_res{
	background:white;
    color: rgb(0, 0, 0);
    border: 1px solid blue;
    border-radius: 13px;
    text-shadow: none;
    padding: 10px 30px;
}

.btn-new_res:hover{
	 background: rgb(128, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
    text-shadow: none;
}

.navbar-head{
	 font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

.card {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background-color: rgb(0, 0, 0); 
    color: white; 
    text-align: center;
    padding: 10px,0;
}

dl {
    row-gap: 1rem;
}

dt {
    font-weight: bold;
}

h3.text-center {
    color: rgb(0, 0, 0); 
}

hr {
    border-color: #28a745; 
}

.container.text-left a.btn-success {
    background-color: rgb(255, 0, 255); 
    color: white; 
    border: none; 
    font-weight: 200;
    text-decoration: none;
    padding: 8px;
   
    
    
}

.container.text-left a.btn-success:hover {
    background-color: rgb(7, 62, 248); 
    color: rgb(0, 0, 0); 
}

table.info-table {
    width: 100%;
    border-collapse: collapse; 
}

table.info-table th {
    background-color: rgb(66, 9, 52);
    color: white; 
    padding: 10px; 
    text-align: center;
}

table.info-table td, table.info-table th {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

table.info-table tbody tr:hover {
    background-color: #f5f5f5; 
}

.new-reservation-btn {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
    text-shadow: none;
    padding: 10px 30px;
    text-decoration: none; 
    display: inline-block; 
}
.new-reservation-btn:hover {
    background: rgb(255, 128, 128);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 13px;
    text-shadow: none;
}

